{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Institute Students Portal</title>
	<link rel="stylesheet" href="{% static 'blog/css/bootstrap.min2.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script href="{% static 'blog/js/bootstrap.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Slab" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster"/>
</head>
<body style="background: url('{% static 'blog/images/dark_embroidery.png' %}') repeat;color: white;">
	<div class="row" style="background: url('{% static 'blog/images/dark_embroidery.png' %}'') repeat;">
		<div class="col-sm-1"></div>
		<div class="col-sm-2">
			<img src="{% static 'blog/images/iitbhu_logo.png' %}" style="height:150px	">
		</div>
		<div class="col-sm-6">
			<h1 style="color: #FFFFFF;font-family: 'Josefin Slab'"> <center>Institute Students' Parliament Portal-IIT(BHU)</center></h1>
		</div>
	</div>
	<nav class="navbar navbar-inverse" style:	>
    {% if admin %}
    <div class="container-fluid">
		<ul class="nav navbar-nav">
		  <li><a href="{% url 'adminhome' %}">Newsboard</a></li>
		  <li><a href="{% url 'admingrievance' %}">Grievances</a></li>
		  <li><a href="{% url 'adminpolls' %}">Polls</a></li>
		  <li><a href="{% url 'adminsuggestion' %}">Suggestions</a></li>
		  <li><a href="{% url 'adminelections' %}">Elections</a></li>                  
		</ul>
		<ul class="nav navbar-nav navbar-right">
		  <li class="dropdown">
		    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicons glyphicons-user"></span>admin
		    <span class="caret"></span></a>
		    <ul class="dropdown-menu">
		      <li><a href="{% url 'adminlogout' %}">Logout</a></li>
		    </ul>
		  </li>
		</ul>
	</div>
	{% else %}
	<div class="container-fluid">
	</div>
	{% endif %}
</nav>
<section style="padding: 5% 0;">
{% block content %}{% endblock %}
</section>
<footer class="navbar navbar-inverse" style="margin: 0;margin-top: 5%;">
	<center>
	<p style="color: white">
	© 2017 | Indian Institute of Technology (Banaras Hindu University) Varanasi. All Rights Reserved. | Disclaimer<br>
	Developed by Karthik Kumar
	</p>
	</center>
</footer>
</body>
</html>