{% extends 'blog/template.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-6" >
    <div class="card card" style="border: 1px solid white;padding: 10px;box-sizing: border-box;background:rgba(10,10,10,0.3);box-shadow: 5px 10px 12px black;border-radius: 5px;">
        <div class="card-block" >
          <p style="color: white;"><center> Fill in the other details correctly!!</center></p>
          <h3 class="card-title" style="color: white;"><center><u>Signup</u></center></h3>
          <p class="card-text" style="color: white;"><ol style="color: white;">
            <form action="{% url 'signup3' pk=email %}" method="POST">{% csrf_token %}
              <div class="form-group">
                <label for="fname">First Name:</label>
                <input type="text" class="form-control" id="fname" name="fname" required>
              </div>
              <div class="form-group">
                <label for="sname">Second Name:</label>
                <input type="text" class="form-control" id="sname" name="sname" required>
              </div>
              <div class="form-group">
                <label for="rno">Roll No</label>
                <input type="number" class="form-control" id="rno" name="rno" required>
              </div>
              <div class="form-group">
                 <label for="">Courses</label>
                  <select class="form-control" id="course" name="course" required>
                  <option>B.Tech</option>
                  <option>M.Tech</option>
                  <option>IDD</option>
                  <option>IMD</option>
                  <option>Ph.D</option>
                </select>
              </div>
              <div class="form-group">
                 <label for="">Year</label>
                  <select class="form-control" id="year" name="year" required>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group">
                 <label for="">Department</label>
                  <select class="form-control" id="dept" name="dept" required>
                  <option>Computer Science and Engineering</option>
                  <option>Electronics Engineering</option>
                  <option>Electrical Engineering</option>
                  <option>Mathematics and Computing</option>
                  <option>Mechanical Engineering</option>
                  <option>Chemical Engineering</option>
                  <option>Civil Engineering</option>
                  <option>Metallurgical Engineering</option>
                  <option>Mining Engineering</option>
                  <option>Pharmaceutical Engineering</option>
                  <option>Biomedical Engineering</option>
                  <option>Biochemical Engineering</option>
                  <option>Engineering Physics</option>
                  <option>Industrial Chemistry</option>
                  <option>Ceramic Engineering</option>
                </select>
              </div>
              <div class="form-group">
                <label for="hostel">Hostel</label>
                <select class="form-control" id="hostel" name="hostel" required>
                  <option>Dhanraj Giri Hostel</option>
                  <option>Morvi Hostel</option>
                  <option>CV Raman Hostel</option>
                  <option>Rajputana Hostel</option>
                  <option>Limbdi Hostel</option>
                  <option>SC De Hostel</option>
                  <option>Vivekananda Hostel</option>
                  <option>Vishwakarma Hostel</option>
                  <option>Gandhi Smriti Mahilla Hostel</option>
                  <option>Vishveshwaraiyya  Hostel</option>
                  <option>SN Bose Hostel</option>
                  <option>Aryabhatta Hostel</option>
                  <option>Ramanujan Hostel</option>
                </select>
              </div>

              <div class="form-group">
                <label for="phoneno">Phone No</label>
                <input type="number" class="form-control" id="pno" name="pno" required>
              </div>
              <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" id="pwd" name="pwd" required>
              </div>

              <center><button type="submit" class="btn btn-primary">Submit</button></center>
          </form> 
          </p>
        </div>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>
{% endblock %}